@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Nunito Sans", sans-serif;
}
body{
    color: white;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 25px 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links a {
  margin-left: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}
#about{     
    color: #7761eb;

}
.nav-links a:hover {
  color: #7761eb;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  height: 100vh; /* ✅ add this */
  box-sizing: border-box;
}

#aboutText{
    width: 500px;
    line-height: 1.7;
    font-size: 1.2rem;
    text-align: justify;
}
#aboutText h1{
    color: #7761eb;
    font-weight: 800;
    text-align: right;
}
#mfr{
    
}
.skills{
    height: 100vh;
    background-color: black;
}